html {
  font-family:Helvetica;
}

section {
  display: inline-block;
  width: 40%;
  vertical-align: top;
  margin: 2%;
  padding: 2%;
}

.column-1 {
  background-color: lightblue;
  color: black;
}

.column-2 {
  background-color: gray;
  color: white;
}

h1:hover, h2:hover {
  color:gold;
}
